#1 {
  content: ' ';
}
pre {
  max-height: 85vh;
}
pre::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.8rem;
}

/* Track */
pre::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5rem;
}

/* Handle */
pre::-webkit-scrollbar-thumb {
  background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border-radius: 5rem;
}

/* Handle on hover */
pre::-webkit-scrollbar-thumb:hover {
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {
    background-image: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  }
  to {
    background-image: radial-gradient(
      circle,
      rgba(148, 187, 233, 1) 0%,
      rgba(238, 174, 202, 1) 100%
    );
  }
}
